<div class="col-md">
  <div class="pb-2 d-flex mt-3">
    <div class="align-self-center pe-2">
      <%= image_tag(blog.user.user_avatar, class: "rounded-circle blog-circle-img") %>
    </div>
    <div>
      <span class="fw-semibold"><%= blog.user.name %></span><br/>
      <span class="fw-light text-muted fs-14px"><%= blog.user.user_summary&.title || 'Blogger at Education Courier' %></span>
    </div>
  </div>
  <h5><%= link_to blog.title, blog, class: "text-decoration-none short-summary h-3rem" %></h5>
  <small class="text-muted">
    <%= date_format(blog.published_at) if blog.published_at.present? %> | 
    <%= blog.read_time %> min read | 
    <%= link_to blog.category.name, blog.category, class: "border text-decoration-none rounded-pill px-2 py-1 light-gray text-center", 
    data: { turbo_frame: "blogs-list" } %>
  </small>
</div>
