<div class="home-div" >
  <%= link_to '<i class="bi bi-arrow-return-left"></i> Back'.html_safe, :back, class: "btn btn-info" %>
  <div class="row py-4">
    <div class="col">
      <% if current_user.blogs.present? %>
        <h3> Your blogs <span class="text-muted fw-light">( Total: <%= @blogs.count %> )</span></h3>
      <% else %>
        <h4> Continue writing some amazing content</h4>
      <% end %>
    </div>
    <div class="col align-self-center text-end"><%= link_to "Crete New blog", new_user_blog_path, class: "btn btn-success text-white" %></div>
  </div>

  <% if current_user.blogs.exists? %>
    <div class="row mb-3">
      <%= link_to 'All blogs', user_blogs_path(current_user), class: "btn btn-outline-success m-2 col" %>
      <%= link_to 'Only Scheduled blogs', user_blogs_path(current_user, :query =>'scheduled_blogs'), class: "btn btn-outline-success m-2 col" %>
      <%= link_to 'Only Draft blogs', user_blogs_path(current_user, :query =>'draft_blogs'), class: "btn btn-outline-success m-2 col" %>
    </div>
  <% end %>

  
  <div id="blogs_list">
    <% @blogs.each do |blog| %>
      <%= render 'blogs/blog', blog: blog %>
    <% end %>
  </div>
</div>
