<% if user_signed_in? %>
  <%= turbo_frame_tag comment_form_id(parent) do %>
    <div class="border border-dark p-5 rounded mt-2">
      <% unless parent.present? %> <h5>Any thing that can be improved?</h5> <% end %>
      <%= form_with url: blog_comments_path(@blog, parent_id: parent), method: :post, model: comment do |form| %>
        <div class="field">
          <%= form.text_area(:content, rows: '3', class: "form-control mb-3", required: true, placeholder: "Your feedback") %>
        </div>
        <div class="field">
          <%= form.submit class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="border border-dark p-5 rounded mt-2" id="new_comment_form">
    <%= form_with url: new_user_registration_path, method: :get, model: comment do |form| %>
      <div class="field">
        <%= form.text_area(:content, rows: '3', class: "form-control mb-3", required: true, placeholder: "Your feedback (Optional)") %>
        <input type="hidden" name="role" value="member">
        </div>
      <div class="field">
        <%= form.submit class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
<% end %>
