<%= form_with url: post_comments_path(@post), method: :post, model: comment do |form| %>
  <%= render "shared/error_messages", object: comment %>

  <div>
    <%= form.label 'Name' %>
    <%= form.text_field :user_name %>
  </div>

  <div>
    <%= form.label 'Email' %>
    <%= form.text_field :user_email %>
  </div>

  <div>
    <%= form.label 'Feed Back' %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
