<div class="home-div">
  <%= render partial: 'pages/about_page/intro_part' %>
  <%= render partial: 'pages/about_page/story_part' %>
  <%= render partial: 'pages/about_page/purpose_part' %>
  <%= render partial: 'pages/about_page/offers_part' %>
  <%= render partial: 'pages/about_page/team_part' %>
  <%= render partial: 'pages/about_page/join_part' %>
  <%= render partial: 'pages/about_page/contact_part' %>
</div>