<div class="col">
  <div class="pb-2">
    <%= image_tag("user_avatar.png", class: "rounded-circle post-circle-img") %> 
    <span class="fw-semibold"><%= post.user.name %></span>
  </div>
  <h5 class="fw-bold"><%= link_to post.title, post, class: "text-decoration-none" %></h5>
  <small class="text-muted">
    <%= date_format(post.published_at) if post.published_at.present? %> | 
    <%= post.read_time %> min read | 
    <%= link_to post.category.name, post.category, class: "border text-decoration-none rounded-pill px-2 py-1 light-gray text-center", 
    data: { turbo_frame: "posts-list" } %>
  </small>
</div>