<div class="py-5 py-20">
  <%= link_to '<i class="bi bi-arrow-return-left"></i> Back'.html_safe, :back, class: "btn btn-info" %>
  <% if user_signed_in? && ( @post.user == current_user || current_user.admin?) %>
    <div class="text-end">
      <%= link_to '<i class="bi bi-pencil-square"></i> Edit Post'.html_safe, edit_post_path(@post), class: "btn btn-outline-primary m-2" %>
      <%= link_to '<i class="bi bi-trash"></i> Delete Post'.html_safe, @post, data: { "turbo-method": :delete }, class: "btn btn-outline-danger m-2" %>
    </div>
  <% end %>
  <div class="mb-3">
    <h2 class="fw-bolder"><%= @post.title %></h2>
    <p class="text-muted"><%= @post.summary %></p>
    <div class="d-flex">
      <div class="align-self-center">
        <%= image_tag("user_avatar.png", class: "rounded-circle post-circle-img") %> 
      </div>
      <div class="ps-2">
        <span class="fw-semibold"><%= @post.user.name %></span><br/>
        <small class="text-muted">
          <%= get_post_status(@post) %> | 
          <%= @post.read_time %> min read | 
          <%= link_to @post.category.name, @post.category, 
          class: "border text-decoration-none rounded-pill px-2 py-1 light-gray text-center" %>
        </small>
      </div>
    </div>
    <div class="mt-3">
      <%= image_tag("post_default_avatar.jpg", class: "max-size-fill-available") %> 
    </div>
    <p class="mt-3"><%= @post.content.html_safe %></p>
    <div class="d-flex flex-wrap">
      <% @post.slug.split(',').each do |slug| %>
        <%= link_to slug, slug, class: "text-center border rounded-pill p-2 m-2 light-gray text-decoration-none" %>
      <% end %>
    </div>
  </div>

  <%= display_comments_count(@post.comments.count) %>
  <%= render 'comments/form', comment: Comment.new %>

  <div id="comments">
    <%= render @post.comments %>
  </div>
</div>